$transition: .2s ease-in-out 500ms;

@keyframes swing {
  0%   { transform: rotate(3deg) }
  50%  { transform: rotate(-3deg )  }
  100% { transform: rotate(3deg) }
}

@keyframes centerSwing {
  0%   { transform: rotate(15deg)  }
  50%  { transform: rotate(-15deg) }
  100% { transform: rotate(15deg)  }
}

@keyframes disappear {
  0%   { opacity: 1   }
  25%  { opacity: .75 }
  50%  { opacity: .5  }
  75%  { opacity: .25 }
  100% { opacity: 0   }
}

@keyframes appear {
  0%   { opacity: 0   }
  25%  { opacity: .25 }
  50%  { opacity: .5  }
  75%  { opacity: .75 }
  100% { opacity: 1   }
}

@keyframes growVert {
  0%   { height: 0 }
  50%  { height: 150px }
  100% { height: 300px }
}

@keyframes leafGrow {
  0%   {
    width: 0;
    left: 85px;
  }
  50%  {
    width: 120px;
    left: 70px;
   }
  100% {
    width: 200px;
    left: 60px;
  }
}

@keyframes growFromCenter {
  0%   {
    transform: scale(0);
    visibility: visible;
  }
  50%  {
    transform: scale(0.5);
    visibility: visible;
  }
  100% {
    transform: scale(1);
    visibility: visible;
  }
}

html,body {
  font-family: helvetica neue,helvetica,arial,sans-serif;
  font-weight: 200;
  transition: $transition;
}

.light-switch {
  position: absolute;
  display: none;
  left: 85px;
  top: 100px;
  opacity: 0;
  transition: 0s ease-in-out;
  z-index: -1;
  &:checked ~ .moon-glow {
    visibility: hidden;
    animation: disappear 1s ease-in-out;
  }
  &:checked ~ .moon {
    visibility: hidden;
    animation: disappear 1s ease-in-out;
  }
  &:checked ~ .moonImg {
    visibility: hidden;
    animation: disappear 1s ease-in-out;
  }
  &:checked ~ .sun {
    visibility: visible;
    animation: appear 1s ease-in-out;
  }
  &:checked ~ .sun-glow{
    visibility: visible;
    animation: appear 1s ease-in-out;
  }
  &:checked ~ .header {
    color: black;
    transition: .2s ease-in-out 500ms;
  }
  &:checked ~ .about {
    animation: disappear 1.5s linear;
  }
  &:checked ~ .contact {
    color: black;
    transition: $transition;
  }
  &:checked ~ .profiles {
    transition: $transition;
  }
  &:checked ~ .about {
    visibility: hidden;
    animation: disappear 1s ease-in-out;
  }
  &:checked ~ .day-profiles {
    visibility: visible;
    animation: appear 1s ease;
  }
  &:checked ~ .night-profiles {
    visibility: hidden;
    animation: disappear 1s ease;
  }
  &:checked ~ .flower-wrapper {
    animation: swing 3000ms ease-in-out infinite;
  }
  &:checked ~ .flower-wrapper .flower-stem {
    animation: growVert 1500ms linear 500ms;
    animation-fill-mode: forwards;
  }
  &:checked ~ .flower-wrapper .flower-pollen {
    animation: growFromCenter 1000ms linear 2700ms;
    animation-fill-mode: forwards;
  }
  &:checked ~ .flower-wrapper .petal-wrapper .flower-petal {
    animation: growFromCenter 1000ms linear 1700ms;
    animation-fill-mode: forwards;
  }
  &:checked ~ .flower-wrapper .petal-wrapper .leaf-lettering {
    animation: leafGrow 1000ms linear 1500ms;
    animation-fill-mode: forwards;
  }
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #031528;
  z-index: -3;
  transition: $transition;
}
