$transition: .2s ease-in-out 500ms;

@keyframes swing {
  0%   { transform: rotate(-0.95deg); }
  50%  { transform: rotate(0.95deg );  }
  100% { transform: rotate(-0.95deg); }
}
@keyframes disappear {
  0%   { opacity: 1   }
  25%  { opacity: .75 }
  50%  { opacity: .5  }
  75%  { opacity: .25 }
  100% { opacity: 0   }
}
@keyframes appear {
  0%   { opacity: 0   }
  25%  { opacity: .25 }
  50%  { opacity: .5  }
  75%  { opacity: .75 }
  100% { opacity: 1   }
}

html,body {
  font-family: helvetica neue,helvetica,arial,sans-serif;
  font-weight: 200;
  transition: $transition;
}

.light-switch {
  position: absolute;
  display: block;
  left: 85px;
  top: 100px;
  opacity: 0;
  transition: 0s ease-in-out;
  z-index: -1;
  &:checked ~ .moon-glow {
    visibility: hidden;
    // transition: .2s ease-in-out 500ms;
    animation: disappear 1s ease-in-out;
  }
  &:checked ~ .moon {
    visibility: hidden;
    animation: disappear 1s ease-in-out;
  }
  &:checked ~ .moonImg {
    visibility: hidden;
    // transition: .1s ease-in-out;
    animation: disappear 1s ease-in-out;
  }
  &:checked ~ .sun {
    // visibility: visible;
    // transition: .2s ease-in-out 500ms;
    animation: appear 1s ease-in-out;
  }
  &:checked ~ .sun-glow{
    // visibility: visible;
    // transition: .2s ease-in-out 500ms;
    animation: appear 1s ease-in-out;
  }
  &:checked ~ .header {
    color: black;
    transition: .2s ease-in-out 500ms;
  }
  &:checked ~ .about {
    // visibility: hidden;
    animation: disappear 1.5s linear;
    // transition: 1.5s ease-in-out 500ms;
  }
  &:checked ~ .contact {
    color: black;
    transition: $transition;
  }
  &:checked ~ .profiles {
    // visibility: visible;
    transition: $transition;
  }
  &:checked ~ .projects-tab {
    visibility: visible;
    height: 50px;
    transition-property: all;
    transition-delay: 550ms;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  &:checked ~ .projects-tab-label {
    visibility: visible;
    height: 50px;
    transition-property: all;
    transition-delay: 550ms;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  &:checked ~ .about {
    visibility: hidden;
    animation: disappear 1s ease-in-out;
    // transition: ease-in-out 550ms;
  }
  &:checked ~ .day-profiles {
    visibility: visible;
    transition: .2s linear 500ms;
  }
  &:checked ~ .night-profiles {
    visibility: hidden;
    transition: .2s linear 500ms;
  }
}

.light-switch-label {
  position: absolute;
  display: none;
  height: 120px;
  width: 3px;
  z-index: -1;
  top: 100px;
  left: 85px;
  background-color: #cdcdcd;
  transform-origin: center top;
  animation: swing 3s infinite ease-in-out;
  transition: 0s ease-in-out;
  z-index: -1;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #031528;
  z-index: -3;
  transition: $transition;
}
