@mixin keyframes($anim) {
  @-webkit-keyframes #{$anim} {
    @content;
  }
  @-moz-keyframes #{$anim} {
    @content;
  }
  @-o-keyframes #{$anim} {
    @content;
  }
  @keyframes #{$anim} {
    @content;
  }
}

@mixin transform($args...) {
  -webkit-transform: $args;
     -moz-transform: $args;
      -ms-transform: $args;
       -o-transform: $args;
          transform: $args;
}

@mixin animation($name, $duration, $iteration, $fill, $timing) {
  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: $iteration;
  animation-fill-mode: $fill;
  animation-timing-function: $timing;
}

@include keyframes(disappear) {
  0%   { opacity: 1   }
  50%  { opacity: .5  }
  100% { opacity: 0   }
}

@include keyframes(appear) {
  0%   { opacity: 0   }
  25%  { opacity: .25 }
  50%  { opacity: .5  }
  75%  { opacity: .75 }
  100% { opacity: 1   }
}

@include keyframes(grow) {
  0%   { height: 0 }
  50%  { height: 150px }
  100% { height: 300px }
}

@include keyframes(shrinkFlower) {
  from { @include transform(scale(1))   }
  to   { @include transform(scale(0.5)) }
}

@include keyframes(shrinkOnHover) {
  from { @include transform(scale(0.5)) }
  to   { @include transform(scale(0.2)) }
}

.sun {
  animation: disappear 1000ms ease-in-out;
  position: absolute;
  top: 35px;
  left: 60px;
  width: 150px;
  height: 150px;
  z-index: 10;
  border-radius: 120px;
  background-color: #feffcd;
}

.sun-glow {
  @extend .sun;
  box-shadow: 0 0 190px 20px white, 0 0 300px #cfbb77;
  z-index: -1;
}

.moon {
  z-index: 10;
  position: absolute;
  border-radius: 120px;
  top: 35px;
  left: 60px;
  width: 150px;
  height: 150px;
  animation: appear 1000ms ease-in-out;
}

.moonImg {
  position: absolute;
  height: 270px;
  width: 270px;
  top: -55px;
  left: -63px;
  margin: 0;
  animation: appear 1000ms ease-in-out;
}

.moon-glow {
  @extend .moon;
  box-shadow: 0 0 190px 100px white, 0 0 300px #010a13;
  z-index: -1;
  opacity: 0.2;
}

.grass {
  visibility: visible;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -2;
  transition: 1000ms ease-in-out;
  overflow: hidden;
}

.roots {
  position: absolute;
  bottom: -400px;
  left: 0;
  transform: scaleY(-1);
  transition: 1000ms ease-in-out;
  width: 100%;
}

.flower-wrapper {
  width: 100%;
  height: 720px;
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 0;
  transform-origin: center bottom;
}

.flower-stem {
  position: absolute;
  bottom: 0;
  left: 740px;
  width: 7px;
  background: linear-gradient(to bottom, #153812, green 60%);
  z-index: 3;
  border-radius: 10px 10px 0px 0px;
  transform-origin: center bottom;
}

.flower-pollen {
  position: absolute;
  left: 65px;
  bottom: 300px;
  background: radial-gradient(circle, yellow 20%, black);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transform-origin: center;
  animation-fill-mode: forwards;
  transition-duration: 1000ms;
  z-index: 5;
  visibility: hidden;
}

.flower-petal {
  width: 100px;
  height: 100px;
  visibility: hidden;
  z-index: 4;
  display: inline-block;
}

.top-left {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 50px 0 50px;
  border-right: none;
  border-bottom: none;
  background: linear-gradient(to bottom right, #9076e8,  purple, black);
  transform-origin: bottom right;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50px 0 50px 0;
  border-left: none;
  border-bottom: none;
  background: linear-gradient(to bottom left, #9076e8,  purple, black);
  transform-origin: bottom left;
}

.bottom-right {
  position: absolute;
  top: 90px;
  right: 0;
  border-radius: 0 50px 0 50px;
  border-top: none;
  border-left: none;
  background: linear-gradient(to top left, #9076e8,  purple, black);
  transform-origin: top left;
}

.bottom-left {
  position: absolute;
  top: 90px;
  left: 0;
  border-radius: 50px 0 50px 0;
  border-top: none;
  border-right: none;
  background: linear-gradient(to top right, #9076e8,  purple, black);
  transform-origin: top right;
}

.petal-wrapper {
  width: 180px;
  height: 420px;
  position: absolute;
  bottom: 0;
  left: 655px;
  transform-origin: bottom center;
  transition-duration: 1000ms;
  z-index: 4;
  &:hover {
    transition-duration: 1000ms;
    transform: scale(1.2);
    animation-fill-mode: forwards;
  }
  &:hover ~ .flower-pollen {
    left: 705px;
    bottom: 300px * 1.2;
    height: 80px;
    width: 80px;
    transition-duration: 1000ms;
    background: radial-gradient(circle, yellow 40%, black);
  }
}

.leaf-lettering {
  position: absolute;
  bottom: 100px;
  left: 80px;
  width: 0;
  height: 125px;
}

.projects-tab {
  &:checked ~ .flower-wrapper .petal-wrapper {
    @include animation(shrinkFlower, 800ms, null, forwards, linear);
    &:hover {
    @include animation(shrinkOnHover, 1500ms, infinite, forwards, ease);
    }
  }
  &:checked ~ .flower-wrapper .flower-stem {
    // @include animation(shrinkFlower, 800ms, null, forwards, linear);
    height: 150px;
  }
}
