$no-decoration: none;

@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}


body {
  font-size: 62.5%;
  background-color: #171717;
  color: #eee;
}

a {
  @include transition(color 0.175s ease 0.05s);
  color: #aaa;
  text-decoration: $no-decoration;
}
a:visited {
  color: #aaa;
}
a:hover {
  color: #777;
  text-decoration: $no-decoration;
}
a:focus {
  @extend a:hover;
}

.list-set {
  margin: 0;
  padding: 0;
  list-style: $no-decoration;
  li {
    @extend .list-set;
    display: inline-block;
  }
}


.header {
  text-align: center;
  font-size: 2em;
  margin: 0 10%;
}

.main-wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.screenshot {
  width: 240px;
  height: 180px;
}
