@keyframes reappear {
  0% {
    opacity: 0; }
  25% {
    opacity: .25; }
  50% {
    opacity: .5; }
  75% {
    opacity: .75; }
  100% {
    opacity: 1; } }

body {
  font-size: 62.5%;
  background-color: #031528;
  color: #031528;
  transition: 2s ease-in-out;
  overflow: hidden; }

a {
  -webkit-transition: color 0.175s ease 0.05s;
  -moz-transition: color 0.175s ease 0.05s;
  -o-transition: color 0.175s ease 0.05s;
  transition: color 0.175s ease 0.05s;
  color: white;
  text-decoration: none;
  display: inline; }

a:visited, a:focus {
  text-decoration: none; }

a:hover {
  color: #d44f4f;
  text-decoration: none; }

.main-wrap {
  max-width: 1200px;
  margin: 0 auto; }

.list-set, .list-set li {
  margin: 0;
  padding: 0;
  list-style: none; }
  .list-set li {
    display: inline-block; }

.header {
  color: white;
  position: absolute;
  text-align: right;
  font-size: 2em;
  margin: 0 auto 0 50px;
  right: 20px;
  transition: .2s ease-in-out 500ms; }
  .header .label {
    position: relative;
    bottom: 20px; }

.buttonWrap {
  text-align: center;
  padding-top: 10px; }

.button {
  position: relative;
  top: 20px;
  width: 97px;
  height: 29px;
  border-radius: 7px;
  background-color: black;
  color: white; }

.button:hover {
  background-color: #569feb; }

.contact {
  position: absolute;
  margin-left: 900px;
  visibility: visible;
  color: white;
  text-align: right;
  position: absolute;
  top: 140px;
  right: 15px;
  transition: .2s ease-in-out 500ms; }
  .contact li {
    font-size: 20px;
    display: block; }

.header {
  visibility: visible;
  position: absolute; }

.about {
  margin-right: 400px;
  position: absolute;
  top: 100px;
  left: 400px;
  visibility: visible;
  color: white;
  transition: .2s ease-in-out 500ms;
  animation: reappear 1.25s linear; }
  .about h2 {
    font-size: 50px; }
  .about p {
    font-size: 15px; }

.profile-image {
  height: 50px;
  width: 50px; }

.profiles {
  position: absolute;
  right: 30px;
  top: 200px; }
  .profiles span {
    padding-left: 20px; }

.day-profiles {
  animation: disappear 1s ease; }

.night-profiles {
  animation: appear 1s ease; }
